body {
  background-color: white;
}
/* PEACHES linear-gradient(to right bottom, #fec39d, #f0b990, #edaa86); */
/*
263056 - the good blue
#174a45 - forest biome
whites
#f7f7f7,
    #f1f1ef,
    #f7f4e9,
    #f6f6f8,
    #fefefe,
    #f6f4f2,
    #f5f5f5
*/
/*
blacks
 to bottom right,
    #18181e,
    #1d2228,
    #373a36,
    #151617,
    #090a0a,
    #151516,
    #000000,
    #181818,
    #0a0a0a,
    #48484a,
    #373833,
    #191919
*/
/*
May 11:
    to bottom left,
    #ff6f61,
    #edaa86,
    #cca67f,
    #ce9e88,
    #d8b998,
    #c2877b,
*/
/*
blues and greens nicer
#8ebba7,
#9dc183,
#a6bc9b,
#a7d2af,
#009499
*/
/* 
MAUVES
#c2877b,
#cca67f,
#d8b998,
#ce9e88,
#766553
*/
/*SYMPATICO
#ff6f61,
#7e392f,
#c2877b,
#edaa86,
#ea6676,
#f8a39d,
#cca67f,
#d8b998,
#ce9e88,
#766553
*/
/*
BLUE WITH GREEN
#195190,
#009499,
#81894e,
#ffda29,
#98ddde
/*
PANTONE SCHEME
#fc8f9b,
#e55982,
#e881a6,
#ff6f61,
#fc9e21,
#dc793e,
#fea166
*/
/* 
OG:
#ff6f61,
#edaa86,
#d8b998,
#ce9e88,
#766553 */
/*
BROWNS:
#a57a5a,
#cc9767,
#c7ad7f,
#a07855*/
/*footer writing color:#2b251f*/
/*
GREENS
#8ebba7,
#9dc183,
#a6bc9b,
#a7d2af,
#74907a,
#4c7057
 */
/*
,
  {
    "id": "5",
    "title": "SlackD",
    "tech": ["Slack OAuth", "ReactJS", "Redux", "Tachyons"],
    "desc": "This POC uses Slack OAuth API to log in the user and create a digest of all the links posted in their chat history in Slack. They can then search or filter those results.",
    "fontsize": "1.4rem",
    "top": "20%",
    "left": "35%"
  }
*/
